@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
	--scarlet: #ce0f3d;
	--grey: rgb(215, 215, 215);
	--main: #545f58;
	--grey-opac: rgb(248, 248, 248, 0.9);
	--light-grey: #7e8f84;
	--white: #ffffff;
	--black: #111;
}

.bold {
    font-weight: 500;
}

body, * {
    font-weight: 50;
    padding: 0;
    margin: 0;
}

#home {
	background-image: url("images/DSC01855.jpg");
	background-color: #cccccc;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
}

#home .logo a {
	font-family: "Oxygen", sans-serif;
	color: var(--main);
    text-decoration:  none;
	font-size: 28px;
	text-transform: uppercase;
	font-weight: 700;
    letter-spacing: 0px;
    word-spacing: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    padding: 0px 36px;
}

.desc {
    padding: 0px 36px;
}

.navbar .logo {
    display: flex;
}

.navbar .nav {
    display: flex;
    justify-content: flex-end; 
    width: 60%;
    align-items: center;
}

.navbar .nav .links {
    /* display: flex; this line changes if menu shows or not */
    display: flex;
    justify-content: space-around;
}

.nav li a {
    text-align: center;
    text-transform: uppercase;
    /* margin: 24px 32px; */
    margin: 24px 0px 24px 64px;
    text-decoration: none;
    color: var(--main);
    font-size: 12px;
}

.navbar .menu-btn p {
    text-transform: uppercase;
    color: var(--main);
}

.navbar .menu-btn {
    display: none;
}

li {
    list-style: none;
}

.nav li a:hover {
    color: var(--light-grey);
    text-decoration:  underline;
    text-underline-offset: 6px;
}

a:visited {
	text-decoration: none;
	color: none;
}

/*--------------------------------------------------------------
# Styling for non home pages
--------------------------------------------------------------*/
#work, #about, #contact {
	background-color: whitesmoke;
}

#work .logo a, 
#about .logo a,
#contact .logo a {
	font-family: "Oxygen", sans-serif;
	color: black;
    text-decoration:  none;
	font-size: 28px;
	text-transform: uppercase;
	font-weight: 700;
    letter-spacing: 0px;

}

#work .links .work a,
#about .links .about a, 
#contact .links .contact a {
    text-decoration:  underline;
    text-underline-offset: 6px;
    color: black;
}

#work .nav li a:hover,
#about .nav li a:hover, 
#contact .nav li a:hover {
    color: black;
}

/*--------------------------------------------------------------
# Start Work section
--------------------------------------------------------------*/
#work * {
    box-sizing: border-box;
}  

#work .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 15px;
}
  
/* Create four equal columns that sits next to each other */
#work .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
  
#work .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/*--------------------------------------------------------------
# Start About section
--------------------------------------------------------------*/
#about .headshot {
/*     display: block;
    margin-left: auto;
    margin-right: auto; */
    margin: 0px 0px 0px 38px;
    width: 100%;
    position: relative;
}

#about * {
    box-sizing: border-box;
}  

/* Create two equal columns that floats next to each other */
#about .column {
    float: left;
    /* padding: 20px; */
    /* align-items: center; */
    /* vertical-align: middle; */
    height: auto;
    /* margin: auto; */
}

.left {
    width: 40%;
    /*     padding: 20px 0px; */
}
  
.right {
    width: 60%;
    padding: 20px 36px;
}

/* Clear floats after the columns */
#about .row:after {
    content: "";
    display: table;
    clear: both;
}

#about img {
    max-width: 80%;
    max-height: 100%;
    padding: 5px;
    border: 1px solid var(--main);
}

#about .column p {
    margin: 10px 0px;
}

/*--------------------------------------------------------------
# Start Contact section
--------------------------------------------------------------*/
#contact .links .contact a{
    text-decoration:  underline;
    text-underline-offset: 6px;
    color: black;
}

/*--------------------------------------------------------------
# Start footer section
--------------------------------------------------------------*/
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 40px 0px;
}

.social a {
    margin: 0px 5px;
    color: var(--main);
    text-decoration: none;
    font-size: 20px;
}

.social a:hover {
    color: black;
}

/*--------------------------------------------------------------
# Start desktop media section
--------------------------------------------------------------*/
@media screen and (min-width: 911px){
	.text {
		font-size: 16px;
	}

    body {
        scroll-padding-top: 60px;
        scroll-behavior: smooth;
        margin: 10px 0px 0px 0px;
        height: 100%;
        font-family: "Oxygen";
        font-weight: 50;
    }

    #about .row {
        display: flex;
        align-items: center;
        height: 75vh;
        margin: 0px 0px;
        padding: 0px 0px 40px;
    }

    #work .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 32px 40px;
    }

}

/*--------------------------------------------------------------
# Start mobile media section
--------------------------------------------------------------*/
@media screen and (max-width: 910px) {
	.text {
		font-size: 16px;
	}

    body {
        scroll-padding-top: 60px;
        scroll-behavior: smooth;
        margin: 0px 10px;
        height: 100%;
        font-family: "Oxygen";
        font-weight: 50;
    }

    #home .nav li a:hover {
        color: black;
        text-decoration:  underline;
        text-underline-offset: 6px;
    }

    .nav li a {
        text-align: center;
        text-transform: uppercase;
        margin: 24px 32px;
        text-decoration: none;
        color: var(--main);
        font-size: 12px;
    }

    .navbar {
        flex-direction: column;
        padding: 60px 0px 0px;
        margin-bottom: 10px;
        height: 0vh;/* this is where the height needs fixed */
    }

    .navbar .logo {
        display: flex;
        justify-content: flex-start;
    }

    .navbar .nav {
        display: none;
        justify-content: center;
        align-items: center;
        height: 25vh;
        width: 100%;
    }

    .navbar .nav .links {
        /* display: flex; this line changes the links showing */
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* top: 30px; */
        /* height: 1000vh; */
        gap: 15px;
    }

    .navbar .nav-active {
        display: flex;
        height: 100%;
    }

    .navbar-active {
        display: absolute;
        height: 25vh;
    }

    .navbar .menu-btn {
        cursor: pointer;
        display: block;
        position: absolute;
        right: 20px;
        top: 30px;
    }

    .navbar .logo {
        display: block;
        position: absolute;
        left: 20px;
        top: 20px;
    }

    .navbar .menu-btn p {
        font-size: 14px;
    }

    .social {
        font-size: 16px;
        padding: 0 0 30px 0px;
    }

    /* .navbar .menu-btn {
        float: right;
    } */

    #work .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }

    #work .column img {
        padding: 0px 0px 12px;
    }

    #work .row {
        margin: 0px 7px 0px 7px;
    }

    .desc {
        padding: 0px 0px 0px 10px;
    }

    /*--------------------------------------------------------------
    # Start about section
    --------------------------------------------------------------*/
    #about .column {
        padding: 8px 0px 10px 0px;
        width: 100%;
    }

    #about .headshot {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 75%;
        position: relative;
    }

    #about .row {
        margin: 0px 10px;
    }

    #about .right {
        padding: 0px 0px 12px 0px;
    }

    #about img {
        max-width: 100%;
    }

}
