@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
    --scarlet: #CE0F3D;
    --grey: rgb(215, 215, 215);
    --white: #ffffff;
    --black: #111;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
    font-weight: 100;
}

/* Style the top navigation bar */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--white);
}

nav .logo {
    color: var(--scarlet);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 25px;
    margin: 25px 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
  }

a {
    color: var(--scarlet);
    text-decoration: none;
}

.large-text {
    text-transform: uppercase;
}

.small-text {
    display: none;
}

a:hover {
    color: black;
}

section {
    /* width: 50%; */
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    background: white;
    position: fixed;
    justify-items: center;
    text-align: center;
    margin: 15px 0px;
    bottom: 0px;
    width: 100%;
    text-transform: uppercase;
}

footer a {
    color: black;
}

.footer .footer-icon {
    font-size: 25px;
    color: black;
}

.footer .footer-icon:hover {
    color: var(--scarlet);
}

@media screen and (max-width: 768px) {
    .large-text {
        display: none;
    }

    .small-text {
        display: inline;
        justify-content: space-around;
        font-size: 25px;
        letter-spacing: 3px;
        font-weight: 500;
    }
}